.header__list{
	float: right;
	padding-top: 27px;
}

.header{
	@include clearfix;
	padding: 1rem 0;
}

.header__list__item {
 	@include font("sans", 400, 1.5rem);
 	display: inline-block;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	margin-right: 1.5rem;
 	&:last-child{
 		margin-right: 0;
 	}
 	a{
		@include transition;
 		color: color(blue);
 		padding-bottom: 2px;
 		&:hover{
 			border-bottom: 2px solid color(blue);
 		}
 	}
}

.header__logo{
	float: left;
	width: 100px;
}