.page{
  margin-bottom: 10rem;
  margin-top: 5rem;
}
.page__title{
  @include font('sans', 700, 4rem);
  color: color(green);
  margin-top: 0;
}

.page__byline{
  font-size: 1.65rem;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.page__content p{
  line-height: 3rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 300;
}
