.triptych{
	padding: 7rem 0;
	.container{
		padding-left: 0;
		padding-right: 0;
	}
}

.triptych__panel__title{
	@include font('sans', 300, 3rem);
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 3rem;
	color: color(green);
}

.triptych__panel__text,
.triptych .textwidget{
	@include font('sans', 300, 1.8rem);
}
