// Colors
$colors: (
	blue: #536271,
	red: #8A211A,
	red-dark: #901B1A,
	green: #4DA38D,
	text: #545454,
	grey-light: #DCDDD6,
	grey-medium: #999595,
	grey-dark: #444444
);

// links
a{
	@include transition;
	text-decoration: none;
	color: color(green);
	&:hover{
		text-decoration: none;
		border-bottom: 1px solid color(green);
		color: color(green);
	}
}

li{
	list-style-type: none;
}

p{
	@include font('sans', 300, 1.85rem);
	color: color(text);
}
