// Colors
$colors: (
	blue: #536271,
	red: #D5394F,
	red-dark: #901B1A,
	green: #ADC9C3,
	text: #545454,
	grey-light: #e5e5e5,
	grey-medium: #999595,
	grey-dark: #444444
);

// links
a{
	@include transition;
	text-decoration: none;
	color: color(red-dark);
	&:hover{
		text-decoration: none;
		color: color(blue);
	}
}

li{
	list-style-type: none;
}

p{
	@include font('sans', 300, 1.85rem);
	color: color(text);
}
